/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    margin-bottom: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}


/*
 * Masthead for nav
 */



/* Nav links */
.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #000000;
}
.nav-link:hover,
.nav-link:focus {
    color: #133d55;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #101010;
}
.nav-link.active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}


.blog-header {
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    background-color:#c4e3f3;
    height:10%;
}
.blog-title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
}
.blog-description {
    font-size: 18px;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
}




/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}


/*
 * Footer
 */



.top-right {
    float:left;
}

.header-link{
    padding-top:10px;
    margin-right:20px;
    padding-right:5px;
}

.blog-sidebar{
    position: absolute;
    top: 0;
    right:0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    height:100%;

}

.btn-btmm{

    margin-bottom: 50px;
}

.yorum{

    display:none;

}

.gndr-btn{

    display:none;

}

#yorumid{

    padding-bottom: 20px;
    margin-bottom: 10px;
}
#yorum-baslik{
    position: relative;
    left:0;
    margin-left:0;
    padding-left:0;
    top: 10px;
}

.photo-in{
    margin-bottom:20px;
}

.photo{
    margin-bottom: 0;
}

#sil-btn{

    position: relative;
    top:-44px;
}